<nav class="navbar">
    <div class="container">
        <div class="flex">
            <div>
                <a class="brand" href="{{ relURL "/" }}">
                    {{ with .Site.Params.titleEmoji }}
                    <span class="emoji">
                        {{ . }}
                    </span>
                    {{ end }}
                    {{ with .Site.Params.titleLogo }}
                        <img src="{{ . | relURL }}" />
                    {{ end }}
                    {{ .Site.Title }}
                    </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                {{ if (default true .Site.Params.colorScheme.toggle) }}
                    <button id="dark-mode-button">
                    {{ (resources.Get "icons/light.svg").Content | safeHTML }}
                    {{ (resources.Get "icons/dark.svg").Content | safeHTML }}
                    </button>
                {{ end }}
            </div>
            </div>
    </div>
</nav>

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->
